roop/__pycache__/core.cpython-311.pyc
roop/__pycache__/__init__.cpython-311.pyc
.DS_Store
__pycache__/settings.cpython-311.pyc
models/bisenet_resnet_34.onnx
models/GFPGANv1.4.onnx
models/inswapper_128.onnx
models/restoreformer_plus_plus.onnx
models/reswapper_128.onnx
models/reswapper_256.onnx
models/xseg.onnx
models/CLIP/rd64-uni-refined.pth
models/CodeFormer/CodeFormerv0.1.onnx
models/liveportrait/live_portrait_feature_extractor.onnx
models/liveportrait/live_portrait_generator.onnx
models/liveportrait/live_portrait_motion_extractor.onnx
models/liveportrait/live_portrait_stitcher.onnx
roop/__pycache__/
roop/__pycache__/*
roop/__pycache__/face_util.cpython-311.pyc
roop/__pycache__/FaceSet.cpython-311.pyc
roop/__pycache__/ffmpeg_writer.cpython-311.pyc
roop/__pycache__/globals.cpython-311.pyc
roop/__pycache__/metadata.cpython-311.pyc
roop/__pycache__/ProcessEntry.cpython-311.pyc
roop/__pycache__/ProcessMgr.cpython-311.pyc
roop/__pycache__/ProcessOptions.cpython-311.pyc
roop/__pycache__/template_parser.cpython-311.pyc
roop/__pycache__/typing.cpython-311.pyc
roop/__pycache__/util_ffmpeg.cpython-311.pyc
roop/__pycache__/utilities.cpython-311.pyc
roop/__pycache__/vr_util.cpython-311.pyc
ui/__pycache__/globals.cpython-311.pyc
ui/__pycache__/main.cpython-311.pyc
ui/__pycache__/theme.cpython-311.pyc
.gradio/certificate.pem
ui/tabs/__pycache__/facemgr_tab.cpython-311.pyc
ui/tabs/__pycache__/faceswap_tab.cpython-311.pyc
ui/tabs/__pycache__/settings_tab.cpython-311.pyc
models/
temp/
output/
